* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  height: 150px;
  text-align: center;
  line-height: 150px;
  background-color: black;
  color: white;
  border-bottom: 2px solid white;
}
header h1 {
  font-size: 3em;
}

body {
  background-color: black;
  color: white;
}
body .playerChoice {
  border: 3px solid white;
  display: grid;
  padding: 20px;
  margin: 50px 25vw;
}
body .playerChoice h2 {
  margin: 5px;
}
body .playerChoice input[type=text] {
  height: 30px;
  font-size: large;
  margin-bottom: 10px;
}
body .playerChoice #startGame {
  margin-top: 10px;
  width: 5vw;
  height: 40px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: 1px solid white;
  justify-self: center;
}
body .playerChoice #startGame:hover {
  background-color: white;
  color: black;
}
body .gameBoard {
  display: grid;
  grid-template-columns: 1fr 550px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 40px;
}
body .gameBoard #boardLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-right: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}
body .gameBoard #boardRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}
body .gameBoard #boardMiddle #playerTurn {
  margin-bottom: 50px;
}
body .gameBoard #boardMiddle #allSquares {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 70px;
}
body .gameBoard #boardMiddle #allSquares .square {
  background-color: black;
  height: 180px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5em;
}
body .gameBoard #boardMiddle #allSquares .square i {
  -webkit-transition: scale 3s linear;
  transition: scale 3s linear;
  scale: 100%;
}
body .gameBoard #boardMiddle .restart {
  width: 200px;
  height: 70px;
  justify-self: center;
  color: white;
  background-color: black;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid white;
}
body .gameBoard #boardMiddle .restart:hover {
  background-color: white;
  color: black;
}
body .winner {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}
body .winner #winnerOutput {
  font-size: 3em;
  text-decoration: underline;
  margin-bottom: 100px;
}
body .winner #newGame {
  width: 200px;
  height: 70px;
  font-size: 1.5em;
  color: white;
  border: 1px solid white;
  background-color: black;
  font-weight: bold;
  justify-self: center;
}
body .winner #newGame:hover {
  background-color: white;
  color: black;
}
body .hide {
  display: none;
}/*# sourceMappingURL=styles.css.map */